/* li안에 있는 글자요소들만 가운데 정렬 */
.contact .contact__info li {
  line-height: 2;
  text-align: center;

  /* 애니메이션 효과 추가 */
  opacity: 0;
  transition: 1s;
}

/* 애니메이션 효과 추가 */
.contact .contact__info li:nth-child(1),
.contact .contact__info li:nth-child(3) {
  /* 오른쪽에서 왼쪽으로 나타나는 */
  transform: translateX(150px);
}

.contact .contact__info li:nth-child(2) {
  transform: translateX(-150px);
}

.contact.show .contact__info li {
  opacity: 1;
  transform: translateX(0);
}

.contact .contact__sns {
  margin-top: 20px;
}

.contact .contact__sns ul {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

/* 애니메이션 효과 추가 */
.contact .contact__sns ul li {
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}

/* contact.show는 자식요소가 아니라 붙여서 써야함 */
/* show 클래스는 js에 있음 */
.contact.show .contact__sns ul li {
  opacity: 1;
  transform: translateY(0);
}

.contact.show .contact__sns ul li:nth-child(1){
  transition-delay: 0.2s;
}

.contact.show .contact__sns ul li:nth-child(2){
  transition-delay: 0.4s;
}

.contact .contact__sns ul li img {
  width: 50px;
}









