/* COMMON */
* {
  box-sizing: border-box;
}

html {
  /* 링크 클릭시 스크롤 스무스하게 이동 */
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  background-color: #fff8e8;
  overflow-x: hidden;
}

/* 영문에만 적용할 폰트 */
.font-en {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  /* 고정 길이=고정형 */
  /* width: 1200px; */
  /* 최대값만 제한=반응형 */
  max-width: 1200px;
  margin: 0 auto;
}

img {
  /* 이미지가 인라인 요소라서 발생하는 문자 기준선(baseline) 아래의 공간을 제거하기 위해 */
  display: block;
}

.title {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}

h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce .3s ease infinite alternate;
  font-family: 'Titan One', cursive;
  font-size: 80px;
  color: #FFF;
  text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .4);
}

h1 span:nth-child(2) { animation-delay: .1s; }
h1 span:nth-child(3) { animation-delay: .2s; }
h1 span:nth-child(4) { animation-delay: .3s; }
h1 span:nth-child(5) { animation-delay: .4s; }
h1 span:nth-child(6) { animation-delay: .5s; }
h1 span:nth-child(7) { animation-delay: .6s; }
h1 span:nth-child(8) { animation-delay: .7s; }
/* h1 span { animation-iteration-count : 50; } */

@keyframes bounce {
  100% {
    top: -40px;
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 #CCC,
                 0 7px 0 #CCC,
                 0 8px 0 #CCC,
                 0 9px 0 #CCC,
                 0 50px 25px rgba(0, 0, 0, .2);
  }
}

.sth_first {
  animation: fadein 2s ease-in-out;
}

.sth_color {
  color: #F9C51D;
  animation: fadein 5s ease-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.title2 {
  font-size: 45px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}

.title3 {
  font-size: 150px;
  font-weight: 800;
  text-align: center;
}

/* 바디부분에 요소 만들필요없이 */
/* 해당 콘텐츠(title) 뒤에 추가하는 것 */
/* 자주 쓰는 스타일은 공통 스타일로 만들어서 재사용 */
.title:after {
  content: ""; /* 필수 속성 */
  display: block;
  width: 80px;
  height: 2px;
  background-color: #333;
  margin: 24px auto 0;
}

.title2:after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: #333;
  margin: 24px auto 0;
}

/* 버튼 스타일 공통 , 쓰고싶은곳에 btn 넣기 */
.btn {
  width: 120px;
  padding: 10px;
  /* a랑 span은 inline이라 block으로 바꿔주기(해당 요소들을 버튼으로 사용할 수도 있기에 블록으로 지정 */
  display: block;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  /* 호버 시간 */
  transition: 0.5s;
  
}

/* 버튼 사이 띄우기 위해 부모에 flex */
.work .port .btn-group {
  display: flex;
  /* 컬럼 사이 띄우기 */
  column-gap: 40px;
  justify-content: center;
  margin-top: 50px;
}

/* 버튼 호버 했을때 색깔 */
.btn:hover {
  background-color: #333;
  color: #fff;
}
/* 버튼 개별스타일 */
.btn--brown {
  color: #007aff;
  border-color: #007aff;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-animation: shake-bottom 0.8s infinite cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-bottom 0.8s infinite cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
/* 버튼 개별스타일 호버시 */
.btn--brown:hover {
  color: #fff;
  background-color: #007aff;
}

@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

/* HEADER */
header {
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  /* 고정된 헤더 만들기 */
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}
header > .inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  /* 가로 너비만 지정하면 세로 높이는 비율에 맞춰 정해짐 */
  width: 40px;
  animation: rotate_coin 0.3s linear infinite;
}

@keyframes rotate_coin {
  100% {
    transform: rotate(360deg);
  }
}

header nav ul {
  display: flex;
}
header nav ul li {
  padding: 10px 20px;
  font-weight: 700;
}
header nav ul li a:hover {
  color: #F9C51D;
  /* text-shadow: 1px 1px 5px #333; */
}

header .btn-hamburger {
  /* 모바일에서만 햄버거 버튼이 나오도록 display: none해줌 */
  display: none;
}

header .btn-hamburger .material-symbols-outlined {
  color: #333;
  font-size: 40px;
  line-height: normal;
}

/* VISUAL */
.visual {
  /* (중요)
    헤더가 fixed 되어 일반 배치 흐름에서 벗어남
    fixed 헤더 다음에 오는 섹션은 헤더의 높이만큼 외부 여백 추가 필요
  */
  margin-top: 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background-color: #333;
  
  color: #fff8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.visual video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.visual .visual__wrapper .visual__text h2 {
  font-size: 45px;
  font-weight: 900;
  color: #fff;
  text-align: center;
}

/* ABOUT */
.about {
  /* (주의) 100%는 부모의 가로 길이(<body>)가 기준이 됨 */
  /* margin-top: 100%; */
  margin-top: 100vh;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color:white;
}
.about .inner {
  padding-bottom: 30px;
  position: relative;
}
.about .about__wrapper {
  /* 수평이었던게 수직으로 (모바일로 볼때) */
  /* flex-direction: column; */

  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
}

.about .about__wrapper .about__img {
  width: 100%;
}

.about .about__wrapper .about__text {
  width: 100%;
  text-align: center;
}

.about .about__wrapper .about__img {
  width: 50%;
  transition: 1s;
}
.about .about__wrapper .about__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;

}

.about .about__wrapper .about__img:hover {
  transform: scale(1.1);
  opacity: 1;
	-webkit-animation: flash 1s;
	animation: flash 1s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.about .about__wrapper .about__text {
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about .about__wrapper .about__text .slogan {
  /* 폰트 크기 700과 같은 의미 */
  font-weight: bold;
  
  font-size: 35px;
}

.about .about__wrapper .about__text h3 {
  font-size: 22px;
  font-weight: 900;
  color: #333;
}

.about .about__wrapper .about__text .address {
  font-size: 25px;
  font-weight: 900;
}

.about .about__wrapper .about__text h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.about .about__wrapper .about__text li {
  line-height: 3;
  text-align: center;
}

.about .about__wrapper .about__text .text__light {
  line-height: 2;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  
}

.about .about__wrapper .about__text .text__bold {
  line-height: 2;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  color:#2f4858;
}

.about .about__text .text__tran {
  position: relative;
  opacity: 0;
  transition: 0.5s;
}

.about .about__text .text__tran2 {
  position: relative;
  opacity: 0;
  transition: 0.5s;
}

.about .about__text li {
  transform: translateX(150px);
}

.about.show .about__text li {
  opacity: 1;
  transform: translateX(0);
}

.about .about__text .about__tran {
  transform: translateX(-150px);
}

.about.show .about__text .about__tran {
  opacity: 1;
  transform: translateX(0);
}

/* 
.about.show .about__text .text__tran {
  position: relative;
  opacity: 0;
  animation: leftslide 0.2s;
  animation-delay: 0.2s;
  animation-timing-function: ease-in-out;
  opacity: 1;
}

@keyframes leftslide {
  from {
    opacity: 0;
    transform: translateX(-2000px);
  }
  to {
    transform: translateX(0);
    opacity :1;  
  }
}

.about.show .about__text .text__tran2 {
  position: relative;
  animation: rightslide 0.2s;
  animation-delay: 0.2s;
  animation-timing-function: ease-in-out;
}

@keyframes rightslide {
  from {
    opacity: 0;
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0);
    opacity :1;  
  }
} */

.about .about__btn {
  position: absolute;
  bottom:-70px;
  /* right: 20px; */
  right: 0;
}

.about .about__btn img {
  display: inline;
  width: 28px;
  /* margin-right: 10px; */
  /* vertical-align: middle 주면 baseline기준이 아니라 중앙성 기준으로 됨 */
  vertical-align: middle;
}



/* SKILL */
.skill {
  /* 상단영역 패딩주기 */
  /* background-color: #F9C51D; */
  background-color: #FFDC83;
  color: #333;
  padding-top: 150px;
  padding-bottom: 130px;
}

.skill .skill__list {
  /* 수직글자 수평으로 */
  /* display: flex; */
  justify-content: space-evenly;
  text-align: center;

  /* 수평 정렬 */
  justify-content: space-evenly;
  /* 텍스트 가운데 정렬 */
  text-align: center;

  /* 모바일에서 글자가 수직으로 떨어질때 */
  flex-wrap: wrap;
  /* 글자 사이 간격.. */
  gap: 30px;
  
}

/* li자식 태그 명확히 선택 후 아래 글자 li와 수평을 맞추기 위해*/
.skill .skill__list > li {
 display: flex;
 /* 상단에서 flex 사용함으로 인해 수평인 상태인데 flex를 다시 써서 */
 /* 수직으로 바뀜 */

 /* 수직을 다시 수평으로 바꿈 */
 flex-direction: column;
 /* 가운데 정렬 */
 align-items: center;

 /* 애니메이션 효과 추가 */
  opacity: 0;
  transition:1s;
 /* 방법1: position */
 /* 현재 내 위치 기준 relative */
 /* position: relative;
 top: 100px; */

 /* 방법2: transform */
 transform: translateY(100px);

 margin-bottom: 30px;
}

.skill.show .skill__list > li {
  opacity: 1;
  /* 방법1: position */
  /* top: 0; */
  /* 방법2: transform */
  transform: translateY(0);
}

  /* li들이 순차적으로 올라오도록.. */
.skill .skill__list > li:nth-child(1){
transition-delay: 0.2s;
}
.skill .skill__list > li:nth-child(2){
transition-delay: 0.4s;
}
.skill .skill__list > li:nth-child(3){
transition-delay: 0.6s;
}
.skill .skill__list > li:nth-child(4){
transition-delay: 0.8s;
}
.skill .skill__list > li:nth-child(5){
transition-delay: 1s;
}

.div__img {
  width: 100%;
}

/* div나 li가 많이있으면 > 자식선택자 태그로 명확하게 해야함 */
.skill .skill__list li div {
  width: 100px;
  height: 100px;
  /* background-color: #6f9c2e; */
  background-color: #009E3B;
  border-radius: 5px 100px 100px 100px;
  /* background-color: #white; */
  transition: 1s;
  transform: rotate(-20deg);
  opacity: 1;
  
}

 .dom {
  margin-top: 45px;
  
} 

.skill .skill__list li div p {
  /* position: absolute; */
  top: 10px;
  font-size: 100px;
  font-weight: bold;
  /* 자간 */
  letter-spacing: -2px;
  left: -330px;
  top: -120px;
  opacity: 0.3;
}

.skill .skill__list li div p:hover {
  transform: rotate(-30deg);
  opacity: 1;
  transform: scale(1.2);
}

.skill .skill__list li div:hover {
  transform: rotate(30deg);
  opacity: 1;
  transform: scale(1.1);
  
}

.skill .skill__list li h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0 20px;
  opacity: 0;
}

.skill .skill__list li ul {
  font-size: 21px;
  font-weight: bold;
  margin: 30px 0 20px;
}

/* WORK */
.work {
  /* SKILL과 WORK사이 간격 떨어트리기 위해 padding-top */
  /* padding-top: 200px; */
  padding-top: 50px;
  padding-bottom: 20px;
 
}

/* div 간격 띄우기 */
.work .port {
  /* display: flex; */
  margin: 50px 0;
  
  
}

.work .port {
  /* port-img와 port-text가 수평으로 바뀜 */
  /* display: flex; */
  
  flex-direction: column;
  margin:40px 0;
}

  /* port-img와 port-text의 영역을 절반씩 나눠가지기 */
.work .port .port__img,
.work .port .port__text {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.work .port .port__text {
  padding: 20px 0 0;
}

.work .port .port__text h3 {
  text-align: center;
}

.work .port .btn-group {
  margin-top: 20px;
}

  /* div가 작아지면 같이(이미지, 텍스트) 작아지게끔 */
.work .port .port__img img {
  width:100%;
  height:100%;
}

.work .port .port__img img:hover {
  opacity: 0.9;
	animation: porthover 0.2s linear 1;
}

@keyframes porthover {
  25% {
      transform: rotate(10deg) scale(1.1);
  }

  50% {
      transform: rotate(0deg) scale(1.2);
  }

  75% {
      transform: rotate(-10deg) scale(1.01);
  }
}

.work .port .port__text {
  font-size: 14px;
  padding: 30px;
  /* 상단에서 이미 flex가 적용되어 다시 한번 적용해주기 */
  display: flex;
  /* colum으로 다시 정렬 */
  flex-direction: column;
  /* 수직 정렬 간격 동일하게 띄우기 */
  justify-content: space-evenly;
}

.work .port .port__text h3 {
  font-size: 20px;
  font-weight: 800;
}

.work .port .port__text li {
  /* lineheight로 글자간격 조정 */
  line-height: 1.8;
}

.work .port .port__text li span {
  font-weight: 700;
}

/* CONTACT */
.contact {
  padding-top: 50px;
  padding-bottom: 50px;
  padding: 50px 0;
  background-color: #007aff;
  color: #fff8e8;
}

/* li안에 있는 글자요소들만 가운데 정렬 */
.contact .contact__info li {
  line-height: 2;
  text-align: center;

  /* 애니메이션 효과 추가 */
  opacity: 0;
  transition: 1s;
}

/* 애니메이션 효과 추가 */
.contact .contact__info li:nth-child(1),
.contact .contact__info li:nth-child(3) {
  /* 오른쪽에서 왼쪽으로 나타나는 */
  transform: translateX(150px);
}

.contact .contact__info li:nth-child(2) {
  transform: translateX(-150px);
}

.contact.show .contact__info li {
  opacity: 1;
  transform: translateX(0);
}

.contact .contact__sns {
  margin-top: 20px;
}

.contact .contact__sns ul {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

/* 애니메이션 효과 추가 */
.contact .contact__sns ul li {
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}

/* contact.show는 자식요소가 아니라 붙여서 써야함 */
/* show 클래스는 js에 있음 */
.contact.show .contact__sns ul li {
  opacity: 1;
  transform: translateY(0);
}

.contact.show .contact__sns ul li:nth-child(1){
  transition-delay: 0.2s;
}

.contact.show .contact__sns ul li:nth-child(2){
  transition-delay: 0.4s;
}

.contact .contact__sns ul li img {
  width: 50px;
}

/* FOOTER */
footer .copyright {
  text-align: center;
  font-weight: 600;
  line-height: 200px;
}

/* MODAL */
/* id를 줬기때문에 .(class)가 아니라 # */
#modal {
  /* 화면 전체 영역 덮기 */
  position: fixed;
  /* 뷰포트에 딱 붙이기 위해(안 붙여도 딱 붙지만 버그 생기는걸 예방하기 위해 0으로.. */
  top: 0;
  left: 0;
  /* 가로 100% 세로 100% 꽉 채우기 */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;

  /* 모달 이미지를 수직 가운데 정렬, 수평 가운데 정렬하기 */
  /* display: flex; */
  justify-content: center;
  align-items: center;

  /* 모달창을 숨기기 위해.. */
  display: none;
}

#modal .modal__inner {
  /* 뷰포트의 80% 기준, 페이지 마우스로 축소 확대 시 모달창이 80%으로 .. */
  width: 80%;
  position: relative;

}

#modal .modal__inner img {
  /* 모달이너 이미지가 작아서 영역안에 꽉 차게끔 */
  width: 100%; 
  /* transform: scale(0.7); */
  /* position: relative; */
}

#modal .modal__inner img:hover {
  -webkit-animation: wobble-hor-top 0.8s both;
  animation: wobble-hor-top 0.8s both;
}

@-webkit-keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
            transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}

#modal .modal__inner .btn-close {
  /* 아이콘 크기 키우기 */
  font-size: 30px;
  color: white;
  background-color: #007aff;
  border-radius: 50%;
  cursor: pointer;
  /* absolute 부모 기준으로 . . */
  position: absolute;
  top: 2.6%;
  right: 1.3%;
}

#modal:hover{
  /* transform: scale(1.1); */
}

#modal .modal__inner .btn-close:hover {
  background-color: #e70909;
  transform: scale(1.3);
}

/* SCROLL TO TOP */
#to-top {
  width: 42px;
  height: 42px;
  background-color: #fff8e8;
  border: 2px solid #333;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  /* 버튼이 깔리지 않게 z-index : 9 정도 */
  z-index: 9;
  /* js에 버튼 opacity 트랜지션 주기 */
  transition: 0.5s;

  /* 웹사이트 처음 접속 했을때 버튼이 보이면 안되기에 */
  /* 처음 상태는 투명에 x축으로 +100px 지점 */
  opacity: 0;
  transform: translateX(100px);
}

/* 반응형 */
@media screen and (max-width: 768px) {
  /* 모바일에서는 화면의 80%만 차지하도록 */
  .inner {
    width: 80%;
  }

  .title {
    font-size: 30px;
    margin-bottom: 24px;
  }

  .title:after {
    width: 60px;
  }

  header .btn-hamburger {
    display: block;
  }

  header nav {
    /* nav 디자인 및 배치 */
    background-color: #fff8e8;
    color: #333;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    /* display: none; */
    height: 0;
    transition: 0.3s;
    
    /* 자식들이 부모의 영역을 침범할때 숨기기 */
    overflow: hidden;
  }

  header nav.active {
    display: block;
    height: 100%;
  }

  header nav ul {
    /* ul 태그를 원래 보여짐 특성인 블록으로 원복 */
    display: block;
    padding-top: 60px;
  }

  header nav ul li {
    padding: 10px 80px;
    font-size: 30px;
  }

  header nav ul li a {
    transition: 0.5s;
  }

  header nav ul li a:hover {
    letter-spacing: 20px;
  }

  .about {
    padding-top: 100px;
  }

  .skill {
    padding-top: 100px;
  }

  .work {
    padding-top: 100px;
  }

  .contact {
    padding: 100px 0;
  }

}
